html,
body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    min-height: 100%;
    font-size: 18px;
    background: #191a21;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.dashboard {
    padding: 30px 0;
}

.mainContent {
    padding: 40px 40px;
    background-color: #FFF;
    color: #333;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

hr {
    border: 0;
    border-top: 1px solid #999999;
    margin: 10px auto;
}

h1 {
    color: #212121;
}

h2 {
    color: #7b7e8e;
}