.container {
    display: flex;
    flex-direction: row;
    min-width: 0;
}

.leftColumn {
    flex: 2;
}

.rightColumn {
    flex: 1;
    padding-left: 50px;
    text-align: center;
}

.lead {
    margin-top: -10px;
    color: #7b7e8e;
}

.form {
    margin-top: 30px;
    background-color: #ebebeb;
    padding: 20px;
    border-radius: 4px;
}

.formRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.formGroup {
    flex: 1;
    margin: 0 12px;
}

.formAction {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.formAction button {
    margin: 0 10px;
}