.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #ecf1f7;
    margin-top: 0px;
    color: #555555;
    border-radius: 10px;
}

.container a {
    color: #555555;
    font-weight: bold;
    text-decoration: none;
}